---
layout: default
title: Home
---

{% include intro.html %}
{% include head.html %}

<section class="post-list">
  <div class="container">
    <h3>recent blog posts (<a class="post-link" href="{{'blog' | prepend: site.baseurl}}">all</a>)</h3>
    {% for post in site.categories.blog %}
    {% if forloop.index != 5 %}
      <article class="post-item">
        <span class="post-meta date-label">{{ post.date | date_to_string }}</span>
        <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></div>
      </article>
    {% endif %}
    {% endfor %}
  </div>

</section>
